.hike-list-card {
    margin-bottom: var(--app-space-2);
    .list-group-item:last-of-type {
        margin-bottom: 0;
    }
}

ul.hike-list {
    .list-group-item {
        margin-bottom: var(--app-space-2);
    }

    li {
        border-radius: var(--app-radius-sm);
        background-color: var(--app-surface-background);
        color: var(--app-text-primary);
        border: 1px solid var(--app-heading-background-color) !important;

        padding: var(--app-space-1) var(--app-space-2);
        .hike-info {
            white-space: nowrap;
            text-align: center;
            align-items: stretch;
            a.col:hover {
                background-color: #cecece75;
            }

            .col:first-child {
                text-align: left;
            }
            .col:last-child {
                text-align: right;
            }
        }
    }
}
