.card-header {
    a:has(svg) {
        &:hover {
            background-color: var(--app-heading-background-hover);
        }
    }
}
.card-footer {
    font-size: unset !important; // set to smaller globally
}