.park-map img {
  max-width: 100%;
}

.card-deck .card {
  width: 100%;

  .card-footer {
    font-size: smaller;
  }

  .card-body {
    ul.hike-list {
      margin-left: 4px;
      li {
        padding-bottom: 0.4em;
        line-height: 1;
        .fa-li {
          top: 0;
          left: -10px;
        }
        &.easy-hike .fa-li {
          color: green;
        }
        &.moderate-hike .fa-li {
          color: blue;
        }
        &.hard-hike .fa-li {
          color: black;
        }
        &.unknown-hike .fa-li {
          color: green;
        }

        .hike-subtext {
          white-space: nowrap;
          .hike-map-link {
            padding-left: 0.25em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .card-deck .card {
    min-height: auto;

    .card-body {
      flex-direction: column-reverse !important;
    }
  }
}
