.park-map img {
  max-width: 100%;
}

.card-deck .card .card-footer {
  font-size: smaller;
}

@media only screen and (max-width: 700px) {
  .card-deck .card {
    min-height: auto;
  }

  .card-deck .card .card-body {
    flex-direction: column-reverse !important;
  }
}  