:root {
  --app-heading-background-color: #504741;
  --app-heading-color: #BBBBBB;
  --app-content-background-color: #E1D6CE;
}

.app {
  max-width: 1280px;
  margin: 0px auto 0px;
  padding: 0px 32px;
}

#content {
  margin-top: 10px;
  min-height: 90vh;
  display: none;
}

.app.loaded #content {
  display: block;
}

.app-card {
  width: 100%;
  padding: 0;
  background-color: var(--app-content-background-color);
  border: 2px solid var(--app-heading-background-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.app-card .card-header {
  background-color: var(--app-heading-background-color);
  color: var(--app-heading-color);
  border-bottom: 1px dashed var(--app-heading-color);
  box-shadow: 0 2px 0 var(--app-heading-background-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: bold;
  padding: 0.25em;
  font-size: 1.1em;
  width: 100%;
}

.app-card .card-footer {
  padding: 0.25em;
  font-size: 1em;
  width: 100%;
}

.hike-cards {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0;
  padding-right: 0;
  max-width: unset;
}

.hike-cards .row {
  column-gap: 0.5em;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.hike-cards .col {
  margin-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
}

.hike-cards .card {
  margin: 0;
  padding: 0;
  min-width: 250px;
  min-height: 300px;
}

.hike-cards .card-header {
  white-space: nowrap;
}


.hike-cards .card-body {
  font-size: smaller;
}


.hike-list .hike-list-stats {
  font-size: small;
  margin-bottom: .5em;
}

.hike-list > ul  {
  column-width: 30rem;
  margin-left: 5px;
  padding-left:20px;
  font-size: small !important;
}

.hike-list > ul > li { 
  list-style: none; 
  list-style-type: none;
}

.hike-list > ul > li > * {
  margin-right: 5px;
}

/*-- Hike Journal Entries Styling --*/

.hike-entry {
  width: 100%;
  padding: 0;
  background-color: var(--app-content-background-color);
  border: 2px solid var(--app-heading-background-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.hike-entry-header {
  background-color: var(--app-heading-background-color);
  color: var(--app-heading-color);
  font-weight: bold;
  padding: 0 0.2em;
  font-size: 1em;
  border-bottom: 1px dashed var(--app-heading-color);
  box-shadow: 0 2px 0 var(--app-heading-background-color);
}

.hike-entry-main {
  background-color: var(--app-content-background-color);
  border: 0;
  text-align: start;
  padding: 0.5em;
  padding-top: 0.1em;
}

.hike-entry-main .hike-entry-name {
  font-size: 1em;
  font-weight: 900;
}

.hike-entry-sidebar
{
  background-color: var(--app-heading-background-color);
  color: var(--app-heading-color);
  padding: 0;
  border: 0;
  min-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  border-radius: 0 !important;
}

.hike-entry-date .hike-entry-sidebar-body {
  font-size: 1.8em;
  font-weight: 900;
}

.hike-entry-stats .hike-entry-sidebar-body {
  font-size: 1.2em;
  line-height: 2.25em;
  font-weight: 900;
}
