:root {
  --app-heading-background-color: #504741;
  --app-heading-color: #bbbbbb;
  --app-content-background-color: #e1d6ce;
  --app-media-mobile-max_width: 700px;
}

.app {
  max-width: 1280px;
  margin: 0px auto 0px;
  padding: 0px 48px;

  #content {
    margin-top: 10px;
    min-height: 90vh;
    display: none;
  }

  &.loaded #content {
    display: block;
  }
}

@media only screen and (max-width: var(--app-media-mobile-max-width)) {
  .app {
    padding: 0px 32px;
  }
}
