.app {
  max-width: 1280px;
  margin: 0px auto 0px;
  padding: 0px 48px;
}

#content {
  margin-top: 10px;
  min-height: 90vh;
  display: none;
}

.app.loaded #content {
  display: block;
}

.hike-list .hike-list-stats {
  font-size: small;
  margin-bottom: .5em;
}

.hike-list > ul  {
  column-width: 30rem;
  margin-left: 5px;
  padding-left:20px;
  font-size: small !important;
}

.hike-list > ul > li { 
  list-style: none; 
  list-style-type: none;
}

.hike-list > ul > li > * {
  margin-right: 5px;
}

.hike-entry {
  border: 2px solid #71a58a;
  background-color: #b1d1b4;
  width: 100%;
  padding: 0;
}

.hike-entry .card-header {
  background-color: unset;
}

.hike-entry .card-body {
  height: 100% !important;
  background-color: white;
  text-align: start;
}

.hike-entry-sidebar
{
  color: #71a58a;
  min-width: 7em;
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
}

.hike-entry-sidebar *
{
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.hike-entry-header {
  color: #fff;
  font-size: 1em;
  background-color: #71a58a;
  border-bottom: 1px dashed #b1d1b4;
  box-shadow: 0 2px 0 #71a58a;
}

.hike-entry-header {
  padding: 0 0.2em;
}

.hike-entry-sidebar .hike-entry-sidebar-main {
  width: 100%;
  font-size: 1.8em;
  font-weight: 900;
}

.hike-entry-sidebar .hike-entry-sidebar-footer
{
  margin-top: -0.65em;
}
