.App-header nav {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  background-color: #504741 !important;
  padding: 0;
}

.App-header .nav-link {
  color: #999999 !important;
}

.App-header .nav-link:not(:last-child) {
  border-right: 1px solid #999999;
}

